<!--The content below is only a placeholder and can be replaced.-->
<body class="test">
  <div class="header">
    <span class="title">{{ pageTitle }}</span>
    <form class="search-box">
      <input class="input-field" [(ngModel)]="inputText" [ngModelOptions]="{standalone: true}" />
      <button class="button-search" type="submit" (click)="searchState()">
        <img  class="search-icon" src="https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-512.png"/>
      </button>
    </form>
  </div>
  <div *ngFor="let state of currentlyDisplayingStates">
    <state-card (openDialog)="openDialog()" [stateName]="state.nome" [stateInitial]="state.sigla" [stateRegion]="state.regiao.nome" [stateRegionInitial]="state.regiao.sigla"></state-card>
  </div>
  <span class="not-found-text" *ngIf="currentlyDisplayingStates.length === 0">
    NO RESULTS FOUND.
  </span>

</body>
